.pageHeader {
    text-align: center;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.shop {
    flex-basis: 1/3;
    border: 1px dotted crimson;
    width: 28%;
}
